name: Laravel

on:
  push:
    branches: [ "main", "7-configure-github-actions-for-automatic-testing" ]
  pull_request:
    branches: [ "main", "7-configure-github-actions-for-automatic-testing" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-qemu-action@v1
      with:
        platforms: all

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build with Docker Compose
      run: docker-compose build
