on:
  push:
  pull_request:

jobs:
  Setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.2'

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Update composer
        run: composer update

      - name: Install Dependencies
        run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Generate key
        run: php artisan key:generate

      - name: Build with Docker Compose
        run: docker-compose build

      - name: Launch container
        run: docker-compose up -d

      - name: Wait for MySQL to be ready
        run: |
          until docker exec a-rosa-je_db_1 mysqladmin --user=root --password=testrootpassword --host=db ping --silent; do
            echo "Waiting for MySQL to be ready..."
            sleep 2
          done
          echo "MySQL is ready."

      - name: Configure MySQL server
        run: |
          docker exec a-rosa-je_db_1 mysql --user=root --password=testrootpassword --host=db --execute="SET GLOBAL max_allowed_packet=16777216;"
          docker exec a-rosa-je_db_1 mysql --user=root --password=testrootpassword --host=db --execute="SET GLOBAL wait_timeout=28800;"
            - name: Migrate
              run: php artisan migrate --seed --force

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Run Tests
        run: php artisan test

      - name: Test Local Host
        run: |
          curl --fail --silent --show-error --location "http://localhost:8000"
