name: Check

on:
  push:
  pull_request:

jobs:
  Setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.2'
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Update composer
        run: composer update
      - name: Install Dependencies
        run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Generate key
        run: php artisan key:generate
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

  PrepareDatabase:
    runs-on: ubuntu-latest
    needs: Setup
    steps:
      - uses: actions/checkout@v3
      - name: Setup Database
        run: |
          mkdir -p database
          touch database/database.sqlite

  BuildDockerImage:
    runs-on: ubuntu-latest
    needs: PrepareDatabase
    steps:
      - uses: actions/checkout@v3
      - name: Build with Docker Compose
        run: docker-compose build

  RunTest:
    runs-on: ubuntu-latest
    needs: [Setup, PrepareDatabase, BuildDockerImage]
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.2'
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Install Dependencies
        run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Generate key
        run: php artisan key:generate
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - name: Setup Database
        run: |
          mkdir -p database
          touch database/database.sqlite
      - name: Build with Docker Compose
        run: docker-compose build
      - name: Run Tests
        run: php artisan test

  TestLocalHost:
    runs-on: ubuntu-latest
    needs: [Setup, PrepareDatabase, BuildDockerImage, RunTest]
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.2'
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Install Dependencies
        run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Generate key
        run: php artisan key:generate
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - name: Setup Database
        run: |
          mkdir -p database
          touch database/database.sqlite
      - name: Build with Docker Compose
        run: docker-compose build
      - name: Lauch container
        run: docker-compose up -d
      - name: Test Local Host
        run: |
          curl --fail --silent --show-error --location "http://localhost:8000"

#
